<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ipsa recusandae, voluptatem quibusdam ipsam laudantium suscipit eum deserunt assumenda nulla voluptatibus amet consequatur modi vel sequi cupiditate quas illum reprehenderit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus laborum ex excepturi nesciunt. Assumenda aliquam mollitia ea, numquam, explicabo asperiores reprehenderit nesciunt eius non vero labore laboriosam, impedit magni?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ullam corporis dolorum et, voluptatum ut quasi reprehenderit nulla provident odit? Voluptatum error minus nobis dignissimos adipisci deleniti! Expedita, error ratione?</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>